

	.container{
		width: 1090px;
		margin: 0 auto;
	}
	.fixed-all::after{
		content: "";
		display: block;
		clear: both;
	}
	input{
		outline: none;
		vertical-align: top;
	}

	/*顶部导航栏strat*/

	.topbar{
		height: 40px;
		background-color: #333;
	}
	.topbar .topbar-left{
		float: left;
		height: 40px;
		line-height: 40px;
	}
	.topbar .topbar-left a{
		font-size: 14px;
		color: #eee;
	}
	.topbar .topbar-left .left-two:hover{
		color: #fff;
	}
	.topbar .topbar-left .left-one{
		margin-left: 30px;
		color: #b4a078;
	}
	.topbar .topbar-left .left-one span{
		font-size: 12px;
		text-decoration: underline;
	}
	.topbar .topbar-left .left-one span:hover{
		color: #fff;
		text-decoration:none;
	}
	.topbar .topbar-right{
		float: right;
		height: 40px;
		line-height: 40px;
		font-size: 0;
	}
	.topbar .topbar-right .topbar-ri{
		font-size: 14px;
		color: #ccc;
	}
	.topbar .topbar-right .topbar-ri .sp1{
		margin-right: 10px;
	}
	.topbar .topbar-right .topbar-ri::after{
		content: "|";
		margin: 0 8px;
		color: #5c5c5c;
	}
	.topbar .topbar-right .topbar-ri .icon-arrow-up1{
		font-size: 12px;
		color: #8d8d8d;
		margin: 0 5px;
	}
	.topbar .topbar-right .topbar-ri .icon-shouji1{
		vertical-align: -2px;
		font-size: 20px;
	}
	.topbar .topbar-right .topbar-ri:hover{
		color: #fff;
	}
	.topbar .topbar-right .client{
		position: relative;
		display: inline-block;
		height: 40px;
	}
	.topbar .topbar-right .client .client-item{
		position: absolute;
		top: 40px;
		width: 80px;
		height: 163px;
		background-color: #fff;
		z-index: 3;
		font-size: 12px;
		color: #000;
		line-height: 40px;
		text-align: center;
		box-shadow: 0 0 5px #333;
		display: none;
	}
	.topbar .topbar-right .client:hover .client-item{
		display: block;
	}
	.topbar .topbar-right .client .client-item li{
		width: 60px;
		margin-left: 10px;
		border-bottom: 1px solid #ddd;
	}
	.topbar .topbar-right .client .client-item li:last-child{
		border-bottom: 0;
	}
	.topbar .topbar-right .client .client-item li a:hover{
		color: #ff6600;
	}
	.topbar .topbar-right .app{
		position: relative;
		display: inline-block;
		height: 40px;
		margin-right: 10px;
	}
	.topbar .topbar-right .app a::after{
		content: "";
	}
	.topbar .topbar-right .app .image{
		position: absolute;
		top: 40px;
		right: -10px;
		width: 160px;
		height: 150px;
		text-align: center;
		padding: 10px 0;
		line-height: 1;
		z-index: 3;
		background-color: #fff;
		box-shadow:  0 0 5px #333;
		display: none;
	}
	.topbar .topbar-right .app:hover .image{
		display: block;
	}
	.topbar .topbar-right .app .image img{
		width: 120px;
		height: 120px;
	}
	.topbar .topbar-right .app .image p{
		font-size: 12px;
		color: #b4a078;
		margin-top: 10px;

	}
	/*顶部导航栏end*/


	/*中间广告栏strat fixed条*/
	.fix-gundong{
		position: fixed;
		top: 0;
		left: 0;
		height: 63px;
		width: 100%;
		background-color: #fff;
		z-index: 3;
		display: none;
	}

	.fix-gundong .scroll{
		height: 63px;
	}
	.fix-gundong .scroll .scroll-img{
		float: left;
	}
	.fix-gundong .scroll .scroll-img img{
		width: 114px;
		height: 63px;
	}
	.fix-gundong .scroll .scroll-log{
		float: left;
		width: 750px;
		height: 35px;
		margin-left: 23px;
		padding: 14px 0;
	}
	.fix-gundong .scroll .scroll-log li{
		float: left;
		line-height: 35px;
		margin: 0 20px;
	}
	.fix-gundong .scroll .scroll-log li:first-child{
		border-bottom: 3px solid #b4a078;
	}
	.fix-gundong .scroll .scroll-log li:first-child a{
		color: #b4a078;
	}
	.fix-gundong .scroll .scroll-log li a{
		font-size: 14px;
		font-weight: bold;
		color: #000;
	}
	.fix-gundong .scroll .scroll-r{
		float: right;
		height: 63px;
		line-height: 63px;
	}
	.fix-gundong .scroll .scroll-r a{
		font-size: 14px;
		color: #666;
		margin-right: 25px;
	}
	.fix-gundong .scroll .scroll-r a i{
		font-size: 20px;
	}
	.fix-gundong .scroll .scroll-r a i:hover{
		color: #b19e71;
	}
	/*中间广告栏 fixed条 end*/

	/*中间广告栏strat*/
	.out-logo{
		position: relative;
		width: 100%
	}
	.out-logo .logo{
		height: 206px;
	}
	.out-logo .logo .logo-top{
		height: 158px;
		text-align: center;
		line-height: 158px;
	}
	.out-logo .logo .logo-top img{
		vertical-align: middle;
		margin-left: 175px;
	}
	.out-logo .logo .logo-top .search{
		float: right;
		width: 345px;
		height: 34px;
		margin-top: 55px;
		line-height: 1;
	}
	.out-logo .logo .logo-top .search input{
		float: left;
		width: 253px;
		height: 32px;
		border: 0;
		border-bottom: 1px solid #b4a078;
		vertical-align: top;
	}
	.out-logo .logo .logo-top .search input::placeholder{
		text-indent: 1em;
		color: #999;
		font-size: 14px;
	}
	.out-logo .logo .logo-top .search .sub{
		float: left;
	}
	.out-logo .logo .logo-top .search .sub .icon-fangdajing{
		display: inline-block;
		font-size: 34px;
		color: #b4a078;	
	}
	.out-logo .logo .logo-top .search .car {
		float: right;
	}
	.out-logo .logo .logo-top .search .car .icon-qicheqianlian-{
		display: inline-block;
		font-size: 20px;	
		color: #b4a078;	
		margin-right: 20px;
		margin-top: 7px;
	}
	.out-logo .logo .logo-top .search .car .icon-qicheqianlian-:hover{
		color: #94a078;
	}
	.out-logo .logo .logo-top .search .sub .icon-fangdajing:hover{
		color: #94a078;
	}
		
	.out-logo .logo .logobar{
		height: 48px;
		
	}
	.out-logo .logo .logobar .log-item{
		float: left;
		width: 30px;
		height: 48px;
		padding: 0 23px;
		line-height: 48px; 
	}
	.out-logo .logo .logobar .log-item .log-item-a{
		display: block;
		width: 30px;
		height: 30px;
		padding-bottom: 5px;
		margin: 0 auto;
	}
	.out-logo .logo .logobar .log-item .log-item-bor{
		border-bottom:3px solid #b4a078;
		color: #b4a078;
	}
	.out-logo .logo .logobar .log-item .log-item-fir{
		display: block;
		width: 30px;
		height: 30px;
		padding-bottom: 5px;
		color: #b4a078;
		border-bottom: 3px solid #b4a078;
	}
	.out-logo .logo .logobar .log-item:nth-child(13){
		width: 102px;
		height: 48px;
		padding: 0;
	}
	.out-logo .logo .logobar .log-item:nth-child(13) .log-item-a{
		display: block;
		width: 60px;
		height: 30px;
		padding-bottom: 5px;
		margin: 0 auto;
	}
		.out-logo .logo .logobar .log-item:nth-child(14){
		width: 90px;
		height: 48px;
		padding: 0;
	}
	.out-logo .logo .logobar .log-item:nth-child(14) .log-item-a{
		display: block;
		width: 46px;
		height: 30px;
		padding-bottom: 5px;
		margin: 0 auto;
	}
	.out-logo .logo .logobar .log-item-lin{
		float: left;
		height: 48px;
		line-height: 48px;
		color: #ddd;
	}
	.out-logo .logo .logobar .log-item .log-item-a:hover{
		border-bottom: 3px solid #b4a078;
		color: #b4a078;

	}
	.out-logo .logo .logobar .log-item a{
		font-size: 14px;
		color: #000;
		font-weight: bold;
	}
	.out-logo .logo .logobar .log-item .shop-down{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 20px 175px;
		background-color: #fff;
		z-index: 1;
		display: none;
	}
	.out-logo .logo .logobar .log-item .shop-down .shop-it{
		float: left;
		width: 155px;
		height: 100px;
		text-align: center;
		background-color: #fff;
	}
	.out-logo .logo .logobar .log-item .shop-down .shop-it .iconfont{
		display: block;
		font-size: 30px;
		color: #b4a078;
	}
	.out-logo .logo .logobar .log-item .shop-down .shop-it a{
		display: block;
		font-size: 14px;
		color: #333;
	}
	.out-logo .logo .logobar .log-item .shop-down .shop-it a:hover{
		color: #b4a078;
	}
	/*中间广告栏end*/

	/*右侧固定导航栏strat*/
	.right-fix{
		position: fixed;
		right: 0;
		top: 185px;
		width: 72px;
		height: 477px;
		background-color: #fff;
		z-index: 4;
	}
	.right-fix .fix-img{
		display: block;
		margin-bottom: 2px;
	}
	.right-fix .content{
		width: 60px;
		height: 324px;
		padding: 0 6px;
		background-color: #fff;
	}
	.right-fix .content .item-bor{
		width: 60px;
		height: 60px;
		border-bottom: 1px solid #eaeaea;
		text-align: center;	
		padding: 10px 0;
	}
	.right-fix .content .item-bor:last-child{
		border: 0;
	}
	.right-fix .content .item-bor a{
		display: block;
		width: 100%;
		height: 100%;
		color: #666;
	}
	.right-fix .content .item-bor a:hover{
		color: #b4a078;
	}
	.right-fix .content .item-bor a p{
		font-size: 12px;
		font-weight: bold;
		margin-top: 10px;
	}
	.right-fix .content .item-bor a i{
		display: block;
		font-size: 30px; 
	}
	.right-fix .goback{
		width: 60px;
		height: 60px;
		padding: 0 6px;
		background-color: #fff;
		border-top: 1px solid #eaeaea;
		text-align: center;
		overflow: hidden;
		cursor: pointer;
		display: none;
	}
	.right-fix .goback i{
		display: block;
		font-size: 30px;
		color: #666;
		margin: 5px 0; 
	}
	.right-fix .goback p{
		font-size: 14px;
		font-weight: bold;
		color: #666;
	}

	.right-fix .content .item-1{
		position: relative;
	}
	.right-fix .content .item-1 .cont{
		position: absolute;
		right: 90px;
		top: -60px;
		width: 190px;
		height: 182px;
		background-color: #fff;
		box-shadow: 0 0 5px #333;
		padding: 20px 18px;
		z-index: 4;
		display: none;
	}
	.right-fix .content .item-1:hover .cont{
		display: block;
	}
	.right-fix .content .item-1 .cont .price{
		width: 100%;
		height: 66px;
		font-size:0;
		color: #c04646;
		overflow: hidden;
	}
	.right-fix .content .item-1 .cont .price .price-1{
		float: left;
		margin-top: 30px;
		font-size: 18px;
	}
	.right-fix .content .item-1 .cont .price .price-2{
		float: left;
		width: 40px;
		height: 20px;
		font-size: 18px;
		background-color: #f8bc59;
		vertical-align:30px;
	}
	.right-fix .content .item-1 .cont .price .price-3{
		float: left;
		width: 60px;
		height: 20px;
		font-size: 18px;
		margin-top: 5px;
	}
	.right-fix .content .item-1 .cont .price .price-4{
		float: left;
		font-size: 40px;
		margin-top: 10px;
	}
	.right-fix .content .item-1 .cont img{
		float: left;
	}
	.right-fix .content .item-1 .cont .cont-1{
		float: right;
		font-size: 18px;
		margin-top: 40px;
		color: #333;
	}
	.right-fix .content .item-1 .cont .cont-2{
		float: right;
		font-size: 12px;
		margin-top: 5px;
	}
	.right-fix .content .item-2{
		position: relative;
	}
	.right-fix .content .item-2 .cont-2{
		position: absolute;
		right: 90px;
		top: -60px;
		width: 372px;
		height: 220px;
		background-color: #fff;
		box-shadow: 0 0 5px #333;
		z-index: 4;
		display: none;
	}
	.right-fix .content .item-2:hover .cont-2{
		display: block;
	}
	.right-fix .content .item-2 .cont-2 h3{
		height: 70px;
		background: url(../images/fixed/2.png) no-repeat;
		font-size: 25px;
		font-weight: bold;
		color: #fff;
		line-height: 70px;
		text-align: center;
	}
	.right-fix .content .item-2 .cont-2 h3 .right-x{
		float: right;
		font-size: 12px;
		color: #000;
		line-height: 1;
		margin-right: 10px;
		margin-top: 10px;
	}
	.right-fix .content .item-2 .cont-2 p{
		font-size: 14px;
		color: #999;
		margin-top: 20px;
	}
	.right-fix .content .item-2 .cont-2 .sear{
		font-size: 0;
		width: 287px;
		height: 35px;
		border: 1px solid #333;
		margin: 15px auto;
	}
	.right-fix .content .item-2 .cont-2 .sear .tex{
		float: left;
		width: 207px;
		height: 33px;
		border: 0;
		background-color: #f8f8f8;
		text-indent: 5px;
	}
	.right-fix .content .item-2 .cont-2 .sear .sub{
		width: 80px;
		height: 35px;
		border: 0;
		color: #fff;
		background-color: #b4a078;
		cursor: pointer;
	}
	.right-fix .content .item-2 .cont-2 .cont-fl li{
		float: left;
		width: 124px;
		color: #b4a078;
	}

	/*右侧固定导航栏end*/


	/*购物车start*/
	 .background-cart .cart input{
	 	width: 20px;
	 	height: 20px;
	 	margin: 0;
	 }
    .background-cart{
    	width: 100%;
    	border-top: 1px solid #f8f8f8;
    	margin-top: 20px;
    	padding: 20px 0 80px 0; 
    }
    .cart .top-cart{
    	border: 1px solid #ddd;
    	height: 46px;
    	background-color: #f5f5f5;
    	margin-bottom: 20px;
    }
    .cart .top-cart li{
    	float: left;
    	color: #333;
    	font-size: 14px;
		line-height: 46px;
    }
	.cart .top-cart .top-item{
		width: 158px;
		height: 46px;
	}
	.cart .top-cart .top-item .cheb{
		vertical-align: middle;
		margin: 0 15px 0 22px;
	}
	.cart .top-cart .top-item1{
		width: 378px;
	}	
	.cart .top-cart .top-item2{
		width: 177px;
	}	
	.cart .top-cart .top-item3{
		width: 192px;
	}	
	.cart .top-cart .top-item4{
		width: 88px;
	}
	.cart .top-cart .top-item5{
		width: 95px;
	}
	.cart .midd-cart{
		border: 1px solid #ddd;
		background-color: #fffbf0;
		margin-bottom: 20px;
	}
	.cart .midd-cart .midd-tit{
		height: 42px;
		line-height: 42px;
		margin-left: 60px;
		overflow: hidden;
	}
	.cart .midd-cart .midd-tit .tit-sp1{
		display: inline-block;
		width: 70px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		font-size: 12px;
		color: #fff;
		background-color: #e36844;
		vertical-align: middle;
	}
	.cart .midd-cart .midd-tit .tit-sp2{
		display: inline-block;
		font-size: 14px;
		color: #666;
		margin: 2px 30px 0 10px; 
	}
	.cart .midd-cart .midd-tit .tit-a1{
		display: inline-block;
		width: 66px;
		height: 24px;
		border: 1px solid #d4282d;
		color: #d4282d;
		vertical-align: middle;
		font-size: 12px;
		text-align: center;
		line-height: 24px;
		margin-right: 20px;
	}
	.cart .midd-cart .midd-tit .tit-a2{
		font-size: 14px;
		color: #6699cc;
	}
	.cart .midd-cart .midd-cont{
    	height: 142px;
	}
	.cart .midd-cart .midd-cont li{
		float: left;
	}
	.cart .midd-cart .midd-cont .midd-item{
		width: 60px;
		height: 142px;
		line-height: 142px;
		text-align: center;
	}
	.cart .midd-cart .midd-cont .midd-item .default{
		vertical-align: middle;
	}
	.cart .midd-cart .midd-cont .midd-item1{
		height: 102px;
		padding: 20px 0;
		width: 1000px;
		border-top: 1px solid #ddd;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-img{
		width: 440px;
		height: 102px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-img img{
		width: 102px;
		height: 102px;
		background-color: #f4f4f4;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-img .img-box{
		display: inline-block;
		height: 102px;
		vertical-align: top;
		padding-left: 20px;
		font-size: 14px;
		color: #c2a599;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-img .img-box .co-tit{
		width: 300px;
		margin: 12px 0;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-img .img-box .co-col{
		font-size: 12px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-img .img-box .co-tit a{
		color: #333;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-img .img-box .co-tit:hover a{
		color: #b4a078;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-price{
		width: 120px;
		height: 102px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-price .co-pri{
		font-size: 14px;
		margin: 12px 0;
		color: #333;
		text-align: center;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-price .co-pri del{
		margin-left: 5px;
		font-size: 12px;
		color: #999;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-price .co-pri-sp{
		width: 42px;
		height: 16px;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		border: 1px solid #e36844;
		color: #e36844;
		margin-left: 29px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .move-add{
		width: 210px;
		height: 102px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .move-add .num-box{
		width: 110px;
		height: 25px;
		line-height: 25px;
		border: 1px solid #ddd;
		margin: 0 auto;
		font-size: 0;
		margin-top: 12px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .move-add .num-box span{
		display: inline-block;
		height: 100%;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .move-add .num-box .c-move,
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .move-add .num-box .c-add{
		width: 24px;
		text-align: center;
		line-height: 25px;
		color: #ddd;
		font-size: 20px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .move-add .num-box .c-num{
		width: 60px;
		height: 25px;
		font-size: 14px;
		color: #333;
		text-align: center;
		border: none;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		vertical-align: top;
		padding: 0;

	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .small-ji{
		width: 130px;
		height: 102px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .small-ji p{
		margin-top: 12px;
		font-size: 14px;
		color: #d4282d;
		margin-left: 60px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .cot-make{
		width: 100px;
		height: 102px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .cot-make .cot-reset{
		font-size: 14px;
		color: #666;
		margin-top: 12px;
		margin-left: 30px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .cot-make .cot-to{
		font-size: 14px;
		color: #666;
		margin-top: 12px;
		margin-left: 30px;
	}
	.cart .midd-cart .midd-cont .midd-item1 .item1-cont .cot-make p:hover{
		color: #b4a078;
	}
	 .cart .midd-cart .midd-cont .midd-change{
	 	border: none;
	 	border-bottom: 1px dashed #eaeaea;
	 }
	 .cart .fixed-all .midd-cont:last-child .midd-change{
		border: none;	
	 }
	 .cart .midd-cart .midd-cont .midd-item1 .item1-cont .co-price .co-price-data{
		font-size: 14px;
		color: #e36844;
	}
	.cart .fixed-all{
		background-color: #fff;
	}
	.cart .bottom-sub{
	 	width: 100%;
	 	height: 66px;
	 	background-color: #f5f5f5;
	 }
	 .cart .bottom-sub li{
	 	float: left;
	 }
	.cart .bottom-sub .botm-item1{
		width: 140px;
		height: 66px;
		line-height: 66px;
		font-size: 14px;
		color: #333;
	}
	.cart .bottom-sub .botm-item1 .default{
		margin: 0 20px;
		vertical-align: middle;
	}
	.cart .bottom-sub .botm-item2{
		width: 340px;
		height: 66px;
		line-height: 66px;
	}
	.cart .bottom-sub .botm-item2 a{
		color: #333;
		font-size: 14px;
		margin-right: 30px;
	}
	.cart .bottom-sub .botm-item2 a:hover{
		color: #b4a078;
	}
	.cart .bottom-sub .botm-item3{
		width: 470px;
		height: 66px;
		font-size: 14px;
	}
	.cart .bottom-sub .botm-item3 .item3-money{
		height: 38px;
		line-height: 38px;

	}
	.cart .bottom-sub .botm-item3 .item3-money .money-tex{
		color: #999;
	}
	.cart .bottom-sub .botm-item3 .item3-money .money-sp1,
	.cart .bottom-sub .botm-item3 .item3-money .money-sp2{
		margin-right: 7px;
	}
	.cart .bottom-sub .botm-item3 .item3-money .money-sp3{
		font-size: 20px;
		font-weight: bold;
		color: #d42833;
		margin-left: 8px;
	}
	.cart .bottom-sub .botm-item3 .item3-you{
		height: 28px;
		line-height: 28px;
	}
	.cart .bottom-sub .botm-item3 .item3-you .you-r{
		float: right;
		color: #d42833;
		margin-right: 25px;
	}
	.cart .bottom-sub .botm-item3 .item3-you .you-r:hover{
		text-decoration: underline;
	}
	.cart .bottom-sub .botm-item4{
		width: 140px;
		height: 66px;
		background-color: #b4a078;
		text-align: center;
	}
	.cart .bottom-sub .botm-item4 .item4-post{
		display: block;
		width: 100%;
		height: 100%;
		line-height: 66px;
		font-size: 20px;
		color: #eee;
	}
	.cart .bottom-sub .botm-item4 .item4-post:hover{
		background-color: rgba(255,255,255,.1);

	}
   	/*购物车end*/
	.background-cart .sweripr{
		position: relative;
		margin-top: 40px;
		border: 1px solid #e8e8e8;
	}
	.background-cart .sweripr .swer-title{
		background-color: #f5f5f5;
		height: 44px;
		line-height: 44px;
		font-size: 18px;
		color: #333;
		text-indent: 2em;
	}
	.sweripr .swer-content{
		width: 920px;
		margin: 0 auto;
		overflow: hidden;
	}
	.sweripr .swer-content .swer-shop{
		height: 280px;
		padding: 20px 0;
		width: 5000px;
	}
	.sweripr .swer-content .swer-shop .swer-item{
		float: left;
		width: 230px;
		height: 280px;
		text-align: center;
	}
	.sweripr .swer-content .swer-shop .swer-item .swer-img{
		display: block;
		width: 210px;
		height: 210px;
		margin: 0 auto;
		overflow: hidden;
	}
	.sweripr .swer-content .swer-shop .swer-item .swer-img img{
		transition: transform 2s;
	}
	.sweripr .swer-content .swer-shop .swer-item .swer-img:hover img{
		transform: scale(1.1,1.1);
		transition: transform 2s;
	}
	.sweripr .swer-content .swer-shop .swer-item .sh-tit{
		margin: 10px 0;
	}
	.sweripr .swer-content .swer-shop .swer-item .sh-tit a{
		font-size: 14px;
		color: #333;
		font-weight: bold;
	}
	.sweripr .swer-content .swer-shop .swer-item .sh-tit a:hover{
		color: #b4a078;
	}
	.sweripr .swer-content .swer-shop .swer-item .shp-price{
		font-size: 14px;
		color: #d4282d;
	}
	.sweripr .swer-arrow{
		position: absolute;
		top: 204px;
		width: 32px;
		height: 32px;
		background-color: #ddd;
		border-radius: 50%;
		text-align: center;
		line-height: 32px;
		cursor: pointer;
	}
	.sweripr .swer-arrow:hover{
		background-color: #b4a078;
	}
	.sweripr .swer-arrow .iconfont{
		font-size: 20px;
		color: #fff;
	}
	.sweripr .swer-left{
		left: 28px;
	}
	.sweripr .swer-right{
		right: 28px;
	}




	




























	/*底部内容strat*/
	.erw-floor{
		width: 100%;
		height: 205px;
		background-color: #fff;
		padding-top: 60px;
		padding-bottom: 35px;
	}
	.erw-floor .erw-content{
		height: 205px;
	}
	.erw-floor .erw-content li{
		float: left;
	}
	.erw-floor .erw-content .serve{
		width: 363px;
		height: 100%;
		text-align: center;
		border-right: 1px solid #e9e9e9;
	}
	.erw-floor .erw-content .serve .serve-tit{
		font-size: 16px;
		color: #000;
		margin-bottom: 30px;
	}
	.erw-floor .erw-content .serve .erji{
		display: inline-block;
		width: 80px;
		height: 80px;
		border: 1px solid #e8e8e8;
		margin: 0 15px;
		padding-top: 20px;
	}
	.erw-floor .erw-content .serve .erji .erji-a:hover i,
	.erw-floor .erw-content .serve .erji .erji-a:hover p{
		color: #bba088;
	}
	.erw-floor .erw-content .serve .erji .erji-a{
		display: block;
		width: 100%;
		height: 100%;
	}
	.erw-floor .erw-content .serve .erji .erji-a i{
		font-size: 30px;
		color: #7c7c7c;
	}	
	.erw-floor .erw-content .serve .erji .erji-a p{
		font-size: 14px;
		color: #333;
		margin-top: 15px;
	}
	.erw-floor .erw-content .what{
		width: 290px;
		height: 100%;
		border-right:1px solid #e9e9e9;
		padding: 0 36px;
	}
	.erw-floor .erw-content .what .what-tit{
		font-size: 16px;
		color: #000;
		margin-bottom: 30px;
		text-align: center;
	}
	.erw-floor .erw-content .what .what-cont{
		font-size: 14px;
		line-height: 20px;
		color: #333;
	}
	.erw-floor .erw-content .what .what-img{
		margin-top: 20px;
		height: 32px;
	}
	.erw-floor .erw-content .what .what-img li{
		margin: 0 8px;
	}
	.erw-floor .erw-content .what .what-img .what-img-1{
		line-height: 32px;
		font-size: 14px;
		color: #333;
		margin-left: 4px;
	}
	.erw-floor .erw-content .what .what-img .what-img-2{
		position: relative;
		width: 32px;
		height: 32px;
	}
	.erw-floor .erw-content .what .what-img .what-img-2 .what-img-ac{
		position: absolute;
		top: 32px;
		left: -34px;
		width: 100px;
		height: 100px;
		display: none;
	}
	.erw-floor .erw-content .what .what-img .what-img-2:hover .what-img-ac{
		display: block;
	}
	.erw-floor .erw-content .erw-con{
		width: 363px;
		height: 100%;
		text-align: center;
	}
	.erw-floor .erw-content .erw-con .erw-con-tit{
		font-size: 16px;
		color: #000;
		margin-bottom: 30px;
	}
	.erw-floor .erw-content .erw-con .new-pri{
		font-size: 14px;
		color: #bba088;
		margin: 10px 0;
	}

	/*底部内容end*/
	/*底边栏strat*/
	.botbar{
		width: 100%;
		height: 207px;
		background-color: #414141;
	}
	.botbar .botbar-z{
		height: 118px;
		border-bottom: 1px solid #4f4f4f; 
	}
	.botbar .botbar-z .botbar-item{
		float: left;
		width: 363px;
		height: 118px;
		text-align: center;
		line-height: 118px; 
		color: #eee;
		font-size: 18px;
	}
	.botbar .botbar-z .botbar-item img{
		vertical-align: middle;
		margin-right: 10px;
	}
	.botbar .botbar-z .botbar-flr{
		position: relative;
		clear: both;
		height: 88px;
		overflow: hidden;
	}
	.botbar .botbar-z .botbar-flr .botbar-link{
		text-align: center;
		font-size: 0;
		margin-top: 25px;
	} 
	.botbar .botbar-z .botbar-flr .botbar-link a{
		font-size: 12px;
		color: #648399;
	}
	.botbar .botbar-z .botbar-flr .botbar-link a::after{
		content: "|";
		color: #648399;
		margin: 0 14px;
	}
	.botbar .botbar-z .botbar-flr .botbar-link a:last-child::after{
		content: "";
	}
	.botbar .botbar-z .botbar-flr .botbar-r{
		position: absolute;
		right: 150px;
		top: 25px;
		
	}
	.botbar .botbar-z .botbar-flr .botbar-r img{
		width: 40px;
		height: 40px;
	}
	.botbar .botbar-z .botbar-flr .bot-out{
		font-size: 12px;
		color: #648399;
		text-align: center;
		margin: 10px 0; 
	}
	/*底边栏end*/